 .works{
    display: flex;
    align-items: center;
    color: white;
    gap: 20px;
    background-color:#29223D;
    border-radius: 10px;
   padding: 30px 40px;
    &:hover{
        background-color:#551988        ;
    }
    h1{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    img{
        padding-top: 20px;
        padding-left: 15px;

    }

 }       
 .work{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 60px;
   background-color:    #410668;
   padding-left: 100px;
   padding-right: 100px;
 }                  