*{
    padding: 0;
    margin: 0;
}
.navbar{
   background-color: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    .navbar_logo{
        h1{
            color:white;
        }
    }
    .menu{
 a{
    text-decoration: none;
    color: white;
    padding: 10px 10px;
 }
    }.menu1{
        a{
            text-decoration: none;
            color: white;
            padding: 10px 10px;
        }
    }
}

